/* Root Styles */
* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica;
}
a {
	text-decoration: none;
	color: black;
}

/* App.js */
#App {
	height: 100vh;
	background: linear-gradient(#009688 127px, #dddbd1 0%);
	display: flex;
	place-items: center;
	place-content: center;
}

/* Main.js */
#main {
	width: 91vw;
	height: 95vh;
	background-color: #ededed;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
	display: flex;
}

/* Sidebar.js */
#sidebar {
	flex: 0.3;
	background-color: white;
}

#sidebarHeader {
	height: 8vh;
	background-color: #ededed;
	border-right: 1px solid lightgray;
	padding-left: 7px;
	display: flex;
	align-items: center;
}

#sidebarHeaderIcons {
	margin-left: auto;
	display: flex;
	min-width: 11vw;
	justify-content: space-evenly;
	align-items: center;
}

#sidebarSearch {
	background-color: #f6f6f6;
	padding: 10px;
}

#sidebarSearchBox {
	background-color: white;
	border-radius: 20px;
	padding: 8px 8px 8px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#sidebarSearchBox > input {
	flex: 0.93;
	border: none !important;
}

#sidebarSearchBox > input:focus {
	outline: none;
}

#sidebarSearchBox ::placeholder {
	color: #919191;
	font-size: 15px;
}

#sidebarContent {
	height: 79.1vh;
	overflow-y: scroll;
}

#sidebarContent::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px white;
	background-color: transparent;
}

#sidebarContent::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

#sidebarContent::-webkit-scrollbar-thumb {
	background-color: #c1c4c9;
}

/* SidebarChatTile.js */
.sidebarChatTile {
	background-color: white;
	padding: 10px 15px 0 15px;
	line-height: 1.4;
	display: flex;
	align-content: center;
}

.sidebarChatTile:hover {
	background-color: #ededed;
}

.sidebarChatTileData {
	flex: 1;
	font-weight: lighter;
	margin-left: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ededed;
	color: rgba(0, 0, 0, 0.75);
}

/* Chat.js */
#chat {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#chatHeader {
	height: 8vh;
	background-color: #ededed;
	padding-left: 18px;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
	place-items: center;
}

#chatHeaderLeft {
	display: flex;
	min-width: max-content;
	line-height: 1.4;
	justify-content: space-between;
	align-items: center;
}

#chatHeaderRight {
	display: flex;
	min-width: 7.7vw;
	justify-content: space-evenly;
	place-items: center;
}

#chatBody {
	flex: 1;
	background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
	background-repeat: repeat;
	background-position: center;
	background-size: 600px;
	padding: 30px;
	overflow-y: auto;
}

#chatBody::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px white;
	background-color: transparent;
}

#chatBody::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

#chatBody::-webkit-scrollbar-thumb {
	background-color: #c1c4c9;
}

#chatFooter {
	background-color: #ededed;
	height: 8vh;
	border-left: 1px solid lightgray;
	border-top: 1px solid lightgray;
	padding-left: 18px;
	display: flex;
	align-items: center;
}

#chatFooterLeft {
	min-width: 5vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#chatFooterSearch {
	flex: 1;
	background-color: white;
	border-radius: 20px;
	padding: 8px 8px 8px 15px;
}

#chatFooterSearch form {
	width: 100%;
}

#chatFooterSearch form > input {
	width: 100%;
	border: none !important;
}

#chatFooterSearch form > input:focus {
	outline: none;
}

#chatFooterSearch ::placeholder {
	color: #919191;
	font-size: 15px;
}

#chatFooterRight {
	min-width: 4vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Message part in Chat.js */
.messageContainer {
	padding: 7px 9px 5px 9px;
	width: fit-content;
	max-width: 30vw;
	box-shadow: 1px 1px 5px -4px black;
}

.mb-9 {
	margin-bottom: 9px;
}

.mb-2 {
	margin-bottom: 2px;
}

.hide {
	display: none;
}

.receiver {
	background-color: white;
	border-radius: 0 8px 8px 8px;
}

.sender {
	background-color: #e1ffc7;
	border-radius: 8px 0 8px 8px;
	margin-left: auto;
}

.messagedBy {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 4px;
}

.message {
	font-size: 14px;
	color: black;
	font-weight: lighter;
}

.time {
	font-size: 12px;
	color: lightgray;
	text-align: right;
	margin: 4px 0 0 6px;
}

/* Profile */
@keyframes slideInFromLeft {
	0% {
		transform: translateX(-50%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slideUp {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

#profileContainer {
	flex: 0.3;
	height: 100%;
	background-color: #ededed;
	animation: 0.3s ease-in-out 0s 1 slideInFromLeft;
}

#profileHeader {
	background-color: #00bfa5;
	color: white;
	height: 109px;
	font-size: large;
	font-weight: bold;
	display: flex;
	align-items: flex-end;
}

#profileHeaderContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 4px 12px;
}

#profilePhoto {
	padding: 25px 0;
	display: flex;
	justify-content: center;
	animation: 0.3s ease-in-out 0s 1 slideInFromLeft;
	animation: 0.6s ease-in-out 0s 1 slideUp;
}

.profileContent {
	background-color: white;
	padding: 10px 35px 8px 35px;
	line-height: 2;
	border-top: 1px solid rgba(190, 190, 190, 0.6);
	border-bottom: 1px solid rgba(190, 190, 190, 0.6);
	display: flex;
	flex-direction: column;
	animation: 0.6s ease-in-out 0s 1 slideUp;
	animation: 0.3s ease-in-out 0s 1 slideInFromLeft;
}

.profileContentInput {
	font-size: larger;
	font-weight: 100;
	color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#profileNote {
	color: gray;
	font-size: 14px;
	line-height: 1.6;
	padding: 15px 30px 20px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: 0.3s ease-in-out 0s 1 slideInFromLeft;
	animation: 0.6s ease-in-out 0s 1 slideUp;
}

/* ChatProfileDrawer.js */

@keyframes slideInFromRight {
	0% {
		transform: translateX(25%);
	}

	100% {
		transform: translateX(0);
	}
}
@keyframes slideDown {
	0% {
		transform: translateY(-50%);
	}

	100% {
		transform: translateY(0);
	}
}

#chatContainer {
	flex: 0.7;
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
}

#chatProfileDrawer {
	flex: 0.75;
	height: 100%;
	background-color: #ededed;
	border-left: 1px solid lightgray;
	animation: 0.3s ease 0s 1 slideInFromRight;
}

#chatProfileDrawerHeader {
	height: 8vh;
	display: flex;
	align-items: center;
}

#chatProfileDrawerHeaderContent {
	width: 9vw;
	padding: 10px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#chatProfileDrawerPhoto {
	background-color: white;
	padding: 25px 0 10px 0;
	display: flex;
	justify-content: center;
}

#chatProfileDrawerPhotoContainer {
	padding: 25px 0;
	display: flex;
	justify-content: center;
}

#chatProfileDrawerPhotoDetails {
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.6);
	padding: 10px 30px 10px 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation: 0.3s ease 0s 1 slideInFromRight;
	animation: 0.6s ease-in-out 0s 1 slideDown;
}

.chatProfileDrawerContent {
	line-height: 1.8;
	background-color: white;
	padding: 10px 30px 10px 20px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	animation: 0.3s ease 0s 1 slideInFromRight;
	animation: 0.6s ease-in-out 0s 1 slideDown;
}

.chatProfileDrawerContentInput {
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	font-weight: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chatProfileDrawerReports {
	background-color: white;
	color: red;
	padding: 15px 30px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	animation: 0.3s ease 0s 1 slideInFromRight;
	animation: 0.6s ease-in-out 0s 1 slideDown;
}

/* Login.js */
#loginContainer {
	background-color: white;
	width: max-content;
	height: max-content;
	padding: 50px 60px 50px 60px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px -7px gray;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#loginContainer img {
	width: 100px;
	height: 100px;
	margin: 0 0 20px 0;
}

#loginContainer h2 {
	margin: 0 0 30px 0;
}

#loginContainer Button {
	background-color: green;
	color: white;
	transition: transform 300ms, box-shadow 300ms;
}

#loginContainer Button:hover {
	transform: scale(1.1);
	color: white;
}

#loginContainer Button:active {
	transform: translateY(4px);
}

input[type='file'] {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
#profilePhotoContent {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	line-height: 1.2;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	filter: opacity(0);
}
#profilePhotoContent:hover {
	filter: opacity(1);
}
#deleteMessage {
	text-align: end;
}
#deleteMessage span {
	display: none;
	color: red;
}
#deleteMessage:hover span {
	display: inline;
}
#deleteMessage:hover p {
	display: none;
}
